.gui-spinner {

  &--small {
    width: 1rem;
    height: 1rem;
  }

  &--medium {
    width: 2rem;
    height: 2rem;
  }

  &--large {
    width: 3rem;
    height: 3rem;
  }

  &--circle {
    border: 3px solid #03fc4e;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 0.5s linear 0s infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }

}