.gui-button {
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: background-color 0.1s linear, color 0.1s linear;

  &--primary {
    background-color: var(--color-primary);
    color: var(--text-color-white);

    &:hover,
    &:focus {
      background-color: var(--color-secondary);
    }

    &:disabled,
    &:disabled:hover,
    &:disabled:focus {
      cursor: not-allowed;
    }
  }

  &--secondary {
    background-color: var(--color-secondary);
    color: var(--text-color-white);

    &:hover,
    &:focus {
      background-color: var(--color-primary);
    }

    &:disabled,
    &:disabled:hover,
    &:disabled:focus {
      cursor: not-allowed;
    }
  }



  &--small {
    padding: 0 1rem;
    font-size: var(--text-size-small);
  }

  &--medium {
    padding: .5rem 1.5rem;
    font-size: var(--text-size-medium);
  }

  &--large {
    padding: 1rem 2rem;
    font-size: var(--text-size-large);
  }
}