.profile-page {
    padding: 1rem;
    min-height: 100%;

    &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond-to('medium') {
            flex-direction: row;
        }

        >div {
            padding: 1rem;
            ;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }

    &-info-avatar {
        width: 10rem;
        height: 10rem;
    }

    &-info-title {
        font-size: var(--text-size-medium);
    }

    &-info-subtitle {
        font-size: var(--text-size-small);
    }

    &-repos-list {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;

        @include respond-to('medium') {
            width: 50%;
        }
    }

    &-repos-list-item {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        ;
        border-bottom: 1px solid var(--gray-50);
    }

    &-repos-list-item-name {
        font-size: var(--text-size-small);
        font-weight: bold;
    }
}