.history-page {
    &-list {
        padding: 1rem;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;

        @include respond-to('medium') {
            width: 50%;
        }
    }

    &-list-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        padding: 1rem;
        border-bottom: 1px solid var(--gray-50);

        &:hover {
            background-color: var(--gray-50);
        }
    }
}