.search-page {
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    max-width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
      width: 100%;
      height: 100%;
      margin-bottom: 1rem;
    }
  }

  &-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  &-button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}