$nunito-font: 'Nunito', sans-serif;

// mixins
@mixin breakpoint($point) {
    @if $point==mobile {
        @media (max-width: 480px) and (min-width: 320px) {
            @content ;
        }
    }
}

// keyrames
@keyframes floating {
    from {
        transform: translateY(0px);
    }

    65% {
        transform: translateY(15px);
    }

    to {
        transform: translateY(-0px);
    }
}

.not-found-page {

    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/star.svg'), linear-gradient(to bottom, #05007A, #4D007D);
    background-attachment: fixed;
    overflow: hidden;

    &-mars {
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        height: 27vmin;
        background: url('../../assets/mars.svg') no-repeat bottom center;
        background-size: cover;
    }

    &-logo {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 16vmin;
        width: 30vmin;

        @include breakpoint(mobile) {
            top: 45vmin;
        }
    }

    &-meteor {
        position: absolute;
        right: 2vmin;
        top: 16vmin;
    }

    &-title {
        color: white;
        font-family: $nunito-font;
        font-weight: 600;
        text-align: center;
        font-size: 5vmin;
        margin-top: 31vmin;

        @include breakpoint(mobile) {
            margin-top: 65vmin;
        }
    }

    &-subtitle {
        color: white;
        font-family: $nunito-font;
        font-weight: 400;
        text-align: center;
        font-size: 3.5vmin;
        margin-top: -1vmin;
        margin-bottom: 9vmin;
    }


    &-astronaut {
        position: absolute;
        top: 18vmin;
        left: 10vmin;
        height: 30vmin;
        animation: floating 3s infinite ease-in-out;

        @include breakpoint(mobile) {
            top: 2vmin;
        }
    }

    &-spaceship {
        position: absolute;
        bottom: 15vmin;
        right: 24vmin;

        @include breakpoint(mobile) {
            width: 45vmin;
            bottom: 18vmin;
        }
    }

}